.page-link {
    color: black;
}

.page-link:hover {
    color: white;
}

.search-bar {
    width: 400px;
    padding: 20px;
}

@media  screen and (max-width: 375px) {
    .search-bar {
        width: 300px;
        padding: 20px;
    }
}

.search-button {
    border-color: #e39774;
    color: #326273;
}

.search-button:hover {
    background-color: #e39774;
    border-color: #326273;
    color: white;
}

.pagination>li>a, .pagination>li>span {
    margin: 0 5px;
}



.pagination>li>a:hover, .pagination>li>span{
    background-color: #e39774;
    transform: scale(1.15);
}

.page-link:active{
    background-color: #000000;
    transform: scale(1.15);
}

.pagination {
    padding-top: 20px;
}
.pagination .active{
    background-color: #e39774;
    border-color: #326273;
}
/*-------------------------side bar1---------------------------*/
.side-navbar {
    width: 200px;
    height: fit-content;
    margin-left: -300px;
    background-color: #326273;
    transition: 0.5s;
    z-index: 100;
    position: fixed;
}

.side-navbar .nav-link {
    font-size: 17px;
    font-family: 'Montserrat-Medium', monospace;

}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {

}
.my-container {
    transition: 0.4s;
}
.active-nav {
    margin-left: 0;
}
/* for main section */
.active-cont {
    margin-left: 180px;
}
#menu-btn {
    border-color: #e39774;
    background-color: white;
    color: #3b5998;
    margin-left: -62px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding-left: 80px;
}

.side-bar-button {
    position: fixed;
    z-index: 99;
}

#menu-btn:hover {
    background-color: #e39774;
    color: white;
}
/*---------------------side-bar2-----------------------------*/
.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 400;
    text-align: left;
    color: white;
    background-color: transparent;
    font-family: 'Montserrat-Medium', monospace;
}
.btn-toggle:hover{
    color: #e39774;
}

.btn-toggle[aria-expanded="true"] {
    color: #e39774;
}

.btn-toggle-nav{
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    color: white;
}
.collapse-link {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat-Medium', monospace;
    transition: color .3s;
}
.collapse-link:hover{
    color: #e39774;
}

.arrow-sidebar {
    transition: transform .35s ease;
    transform-origin: .5em 50%;
    padding-right: 5px;
}
.btn-toggle[aria-expanded="true"] .arrow-sidebar{
    transform: rotate(90deg);
    stroke: #e39774;
}

.scrollarea {
    overflow-y: auto;
}