.img-fluid {
    max-height: 500px;
}

.item-listing {
    padding-top: 50px;
    padding-bottom: 50px;
}
.item-page {
    border-radius: 8px 8px 8px 8px;
}
.selects{
    padding-top: 30px;
    padding-bottom: 30px;
}
.form-select {
    background-color: #5c9ead;
    color: white;
}

.option:hover {
    background-color: #e39774;
}

.colorExample {
    margin-top: 10px;
    border-radius: 5px;
}
.dropdown_button[aria-expanded="true"] {
    background-color: #326273;
}
.dropdown-item:active {
    background-color: #d2d0d0;
}